@font-face {
	font-family: "SourceSansPro-Regular";
	src: url("/fonts/SourceSansPro-Regular.otf");
}

:root {
	--font-family-normal: "SourceSansPro-Regular";
	--text-color-white: #fff;
	--text-color-hover: #FF6565;
	--title-size-h1 : 32px;
}

/* to make website reponsive */
*, *:before, *:after {
	box-sizing: border-box;
}

html {
	font-family: var(--font-family-normal);
	position: relative;
}

body {
	display: flex;
	flex-direction: column;
	max-width: 1400px;
	height: 800px;
	flex-shrink: 0;
	background-image: url(/images/headphones_hero_1.jpg);
	background-repeat: no-repeat;
	margin: 0; /* to avoid the text exceeds the frame */
}



img {
	display: block;
}

/* HEADER // NAVBAR */
header {
	display: flex;
	flex-direction: row;
	justify-content:space-between;
	max-width: 1400px;
	margin-top: 27.76px;
	color: var(--text-color-white);
}

	/* LOGO HEADER */
	.logo_header img {
		margin-left: 200.61px;
		width: 161px;
		height: 32px;
		flex-shrink: 0;
	}

	/* HEADER LINKS */
	.header_links {
		display: flex;
		margin-top: -10px;
		margin-right: 199px;
	}

	.header_links a {
		font-family: var(--font-family-bold)!important;
		font-size: 12px;
		font-style: normal;
		font-weight: bold;
		line-height: normal;
	}

	.header_links a:hover {
		color: var(--text-color-hover);
		cursor: pointer;
	}

	.header_links p {
		margin-right: 41px;
	}

	.header_links p:last-child {
		margin-right: 0; /* remove margin-right on the last child */
	}

	/* HAMBURGER MENU */
	.burger-icon {
		display: none;
		cursor: pointer;
		padding: 1rem;
		position: absolute;
		user-select: none;
	}

	.burger-icon .navicon {
		background-color: var(--text-color-white);
		display: block;
		width: .9rem;
		height: .15rem;
		position: relative;
		transition: background .2s ease-out;
	}

	.burger-icon .navicon::before,
	.burger-icon .navicon::after {
		content: "";
		display: block;
		width: 150%;
		height: 90%;
		position: absolute;
		background: var(--text-color-white);
		transition: all .2s ease-out;
	}

	.burger-icon .navicon::before {
		top: .5rem;
	}

	.burger-icon .navicon::after {
		top: -.5rem;
	}

	/*burger menu */
	.burger-btn {
		display: none;
	}

	.burger-btn:checked ~ .header_links {
		display: block;
		max-height: 100%;
		overflow: inherit;
	}

	.burger-btn:checked ~ .burger-icon .navicon {
		background: transparent;
	}

	/* to make the cross */
	.burger-btn:checked ~ .burger-icon .navicon::before {
		transform: rotate(-45deg);
	}

	.burger-btn:checked ~ .burger-icon .navicon::after {
		transform: rotate(45deg);
	}

	.burger-btn:checked ~ .burger-icon .navicon::after,
	.burger-btn:checked ~ .burger-icon .navicon::before {
		top: 0;
	}

	@media screen and (max-width: 480px){
		.header_links {
			display: none;
			flex: 1;
			margin-top: 25px;
			margin-right: 50px;
			margin-bottom: -300px;
		}

		.header_links p {
			margin-top: 28px;
		}

		.logo_header img {
			margin-left: 62%;
			margin-right: auto;
		}

		.burger-icon {
			display: block;
		}
	}

	@media screen and (min-width: 481px) and (max-width: 768px) {
		.logo_header {
			margin-left: -7rem;
			margin-right: auto;
			max-width: 100%;
			padding-right: 50px;
		}
	}


/* MAIN */
main {
	display: flex;
	flex-direction: column;
	max-width: 100%;
	max-height: 100%;
}

	/* BANNER SECTION */
	#banner {
		display: flex;
		flex-direction: column;
		align-items: center;
		color: var(--text-color-white);
		margin-bottom: 5rem;
	}

	.banner_teaser {
		font-style: normal;
		font-weight: 700;
		margin-top: 270px;
	}

	.banner_teaser h1 {
		font-size: var(--title-size-h1);
	}

	#banner_teaser_sentence {
		margin-top: -40px;
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
	}

	/* banner button */
	.banner_btn {
		margin-top: 24px;
		font-size: 14px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		width: 162px;
		height: 44px;
		flex-shrink: 0;
		border-radius: 22px;
		background: var(--text-color-hover);
		color: var(--text-color-white);
		border: none;
		box-shadow: rgb(35, 35, 35) 0px 0px 30px 0px;
	}

	.banner_btn:hover {
		opacity: 0.9;
		cursor: pointer;
	}

	.banner_btn:active {
		transform: translate(0px, -10px);
		transition: transform 500ms;
	}

	/* Banner paragraph */
	.banner_paragraph {
		width: 40rem;
		margin: 57px 381px 57px 382px;
		line-height: 26px;
		font-size: 16px;
		font-weight: 400;
		text-align: center;
	}

	@media screen and (max-width: 480px) {
		.banner_teaser {
			line-height: 1.4;
			margin-top: 240px;
			margin-bottom: 5px;
			width: 95%
		}

		#banner_teaser_sentence {
			width: 70%;
		}

		#banner {
			margin-left: auto;
			margin-right: auto;
			max-width: 100%;
			text-align: center;
		}

		.banner_paragraph {
			width: 90%;
			font-size: 16px;
		}

		.banner_btn {
			margin-top: 5px;
		}

		body {
			margin-top: -75px;
			background-position: 34% 26%;
			background-size: 430%;
		}

		header {
			margin-top: 100px;
		}
	}

/* WHAT WE DO SECTION */
.what_we_do {
	max-width: 1400px;
	margin-top: 55px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

	/* What we do description */
	.what_we_do_description {
		max-width: 637px;
		text-align: center;
	}

	.what_we_do_description h1 {
		font-size: var(--title-size-h1);
		font-weight: 600;
	}

	.what_we_do_description p {
		font-size: 16px;
		margin-bottom: 97px;
	}

	/* What we do Categories */
	.what_we_do_categories {
		display: flex;
		flex-direction: row;
		justify-content: center;
		max-width: 1000px;
	}

	.category {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 207px;
		height: 180px;
		margin-right: 51px;
		margin-bottom: 130px;
	}

	.category:last-child {
		margin-right: 0;
	}

	.category h2 {
		font-size: 18px;
	}

	.category span {
		color: var(--text-color-hover);
		font-size: 95px;
	}

	.category p {
		line-height: 26px;
	}

	/* mobile display */
	@media screen and (min-width: 480px) and (max-width:768px) {
		.what_we_do_categories {
			flex-wrap: wrap;
			padding-left: 40px;
		}
		.category:last-child {
			margin-right: 51px;
		}
	}

	@media screen and (max-width: 479px) {
		.what_we_do_description p {
			width: 86%;
			margin-top: 40px;
			margin-left: auto;
			margin-right: auto;
			line-height: 1.6;
		}

		.what_we_do_categories {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-bottom: 40px;
		}
		.category {
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 96px;
		}

		.category h2 {
			margin-bottom: -3px;
		}
	}
